
<ion-view view-title="votingresults">
  <ion-content>

  <h1 align="center">Craftsman 140cc* Briggs & Stratton, 21" Rear Bag Push Mower</h1>
  <h2 align="center" style="color:#D3D3D3">$199.0</h2>

	<div style="display:vertical-align:middle; text-align:center; width:100%">
	  <img  width="200" height="200"  src="/img/mower.png">
	 </div> 
	 <div style="display:vertical-align:middle; text-align:center; width:100%">
	  <img  width="50px" height="50px"  src="/img/smile_icon_gray.svg">
	 </div> 
	<h3 align="center">14 of your friends like this</h3>
	<div style="vertical-align:middle; text-align:center; width:100%">
	  <img  width="50px" height="50px"  src="/img/frown_icon_gray.svg">
	 </div> 
	<h3 align="center">30 of your friends disapproved this</h3>
	<button class="button button-block button-positive button-balanced">
	  Buy 
	</button>

	
  </ion-content>
</ion-view>


